*~
*.o

/libatgpio.la
/samples/a840-sw
/src/libatgpio_la-atgpio.lo

/config.log
/config.status

/Makefile
/Makefile.in

.deps
.dirstamp
.libs

/libtool
/m4
/build-aux
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
